{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
{% if error|length > 0 %}
<div class="alert alert-danger" role="alert">Error: {{error}}</div>
{% endif %}
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-4 border rounded-3">
      <div class="card mb-3 text-bg-light">
        <div class="row g-0">
          <div class="col-md-4">
            {% if data["photo"] == "" %}
              <img class="img-fluid rounded-start" alt="placeholder image" width="150%" src="{{ url_for('static', path='/images/placeholder.png') }}">
            {% else %}
              <img class="img-fluid rounded-start" alt="student image" width="150%" src="{{ data['photo'] }}">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{data["information"]["Forename"]}} {{data["information"]["Surname"]}}</h4>
              <br>
              <h5 class="card-text text-start">DOB: {{data["information"]["DOB"]}}</h5>
              <h5 class="card-text text-start">Gender: {{data["information"]["Gender"]}}</h5>
              <h5 class="card-text text-start">Form: {{data["information"]["Reg"]}}</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-4 border rounded-3">
      <div class="row">
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('A')" type="button">Appointment</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('NR')" type="button">No reason</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('Ot')" type="button">Other</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('O')" type="button">Overslept</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('T')" type="button">Traffic</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('U')" type="button">Unwell</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('PD')" type="button">Public transport - delayed</button></div>
        <div class="col"><button class="btn btn-outline-light btn-lg" onclick="autoReason('PM')" type="button">Public transport - missed</button></div>
      </div>
      <br>
      <form method="POST" action="{{url_for('lateness_send')}}?upn={{data['upn']}}">
        <div class="row">
          <input type="text" class="form-control form-control-lg" id="reason" name="reason" maxlength="100" placeholder="Reason for lateness" autocomplete="off" required>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <div class="d-grid gap-2">
              <input class="btn btn-danger" type="reset" value="Reset">
            </div>
          </div>
          <div class="col">
            <div class="d-grid gap-2">
              <input class="btn btn-success" type="submit" value="Submit">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    document.getElementById("reason").focus();
  });

  function autoReason(reason) {
    let x = "";
    switch(reason) {
      case 'A':
        x = "Appointment ";
        break;
      case 'NR':
        x = "No reason ";
        break;
      case 'O':
        x = "Overslept ";
        break;
      case 'Ot':
        x = "Other ";
        break;
      case 'T':
        x = "Traffic ";
        break;
      case 'U':
        x = "Unwell ";
        break;
      case 'PD':
        x = "Public transport was delayed ";
        break;
      case 'PM':
        x= "Public transport was missed ";
        break;
    }
    document.getElementById("reason").value += x;

    const searchInput = $('#reason');
    const strLength = searchInput.val().length * 2;

    searchInput.focus();
    searchInput[0].setSelectionRange(strLength, strLength);
  }
</script>
{% endblock %}
